{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h1>Login</h1>
<form method="post" action="." novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-outline-info" type="submit" value="Log In">
    <div class="form-group">
        <small class="text-muted ml-2">
            <a href="{% url 'password_reset' %}">Forgot Password?</a>
        </small>
    </div>
</form>
<div class="border-top pt-3">
    <small class="text-muted">
        Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
    </small>
</div>
{% endblock %}